body {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: skyblue;
  margin-top: 10px;
}
.container {
  background-color: lightskyblue;
  border-radius: 5px;
  width: 80%;
  height: 100vh;
}
input {
  border-radius: 5px;
  border: none;
  margin: 5px;
  padding: 5px;
}
button {
  margin: 5px;
  padding: 5px;
  color: darkblue;
  background-color: #f0ffff;
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: #f0ffff6e;
  transition: ease-in 0.15s;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px;
  width: auto;
  padding: 10px;
  flex-direction: column;
}
p {
  display: inline;
}

hr {
  width: 80%;
}
