body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #ec6d6d;
}
.container {
  flex: 1;
  padding: 10px;
  border: 1px solid black;
  border-radius: 3px;
  margin-top: 20px;
  box-shadow: 5px 5px 5px black;
  width: 650px;
  height: 500px;
}
button {
  width: 2rem;
  border: 0.5px solid black;
  border-radius: 3px;
  margin: 10px;
}
button:hover {
  background-color: #f30e0e;
  transition: ease-in 0.5s;
}
table {
  width: 100%;
  table-layout: fixed;
}
th {
  column-span: 4;
}
th,
td {
  border: 1px solid black;
  border-radius: 3px;
}
img {
  height: 50px;
}
p {
  display: inline-block;
}
#trash {
  height: 1rem;
  width: 2rem;
  padding: 3px;
  cursor: pointer;
  border: 1px solid black;
}
#trash:hover {
  background-color: #f30e0e;
  transition: ease-in 0.5s;
}
