* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #4136aa;
  text-align: center;
}

#notes-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  width: 100%;
  margin: 20px;
  overflow: hidden;
}
h2 {
  color: #241d61;
}
hr {
  margin-top: 2px;
  color: #4136aa;
}

#btnAddNote {
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #b1aaf1;
  color: white;
  margin: 2px;
}
#btnAddNote:hover {
  background-color: #7366ec4d;
  transition: ease-in 0.25s;
  cursor: pointer;
  color: black;
  border: 2px solid #181158;
}
#btnDeleteNote,
#btnEditNote,
#btnSubmitEdit {
  height: 30px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #b1aaf1;
  color: white;
  margin: 2px;
}
#btnDeleteNote:hover,
#btnEditNote:hover,
#btnSubmitEdit:hover {
  background-color: #b1aaf1;
  transition: ease-in 0.25s;
  cursor: pointer;
  color: black;
  border: 2px solid #181158;
}

#noteInput,
#newNote {
  border: none;
  border-radius: 5px;
  margin-bottom: 5px;
  height: 50px;
  text-align: center;
  background-color: #b1aaf1;
  color: black;
}
#notesBorder {
  background-color: #7466ec;
  border: 2px solid #181158;
  border-radius: 10px;
  padding: 50px;
}
.noteDisplay {
  flex-direction: row;
  justify-content: space-around;
  background-color: #4136aa;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  color: #d9d7f1;
  width: 100%;
  max-width: 500px;
  overflow-y: hidden;
  margin: 5px;
}
#noteText {
  display: inline-block;
}
