body {
  background-color: #99aaee;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

#submitQuestionsBtn {
  height: 50px;
  width: 20px;
}
