body {
  background-color: rgb(192, 45, 45);
}
/* .container {
  display: flex;
} */

#pokedexContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
